.main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
}
.canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 1;
}
.text-canvas {
    color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 2;
}
.manager-form, .manager-load {
    min-width: 800px;
    width: 60%;
    min-height: 300px;
    height: 25%;
    align-self: center;
    justify-self: center;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 40% 60%;
}
.manager-form {
    z-index: 3;
}
.manager-load {
    z-index: 4;
}

.form-input {
    display: grid;
    grid-template-rows: 50px 50px;
}

.path-input {
    display: grid;
    grid-template-columns: 25% 70%;
    justify-content: space-between;
}

.length-input {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}

.form-submit {
    display: grid;
    grid-template-columns: 70% 30%;
}

#graph-info {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.date-input-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 30% 30%;
    justify-content: space-between;
}

#graph-submit {
    justify-self: center;
    align-self: flex-end;
}

.form-submit button {
    justify-self: flex-end;
    align-self: flex-end;
}